/exercicio1_29_05/nbproject/private/
/exercicio1_29_05/build/
/exercicio3_2905/nbproject/private/
/exercicio3_2905/build/
/Exercicios_0406/nbproject/private/
/Exercicio04/nbproject/private/
/Exercicio04/build/
/exercicio05_20905/nbproject/private/
/exercicio05_20905/build/
/exercicio06_0406/nbproject/private/
/exercicio06_0406/build/
